

h1{

 font-size: 100px;
 color:rgb(17, 12, 12);

}

p {

  border: 5px solid rgb(193, 196, 15);
  background-color: rgb(165, 185, 164);
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  font-size: medium;
  text-align: justify;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  float: none;

    
}

